body{
    background-color: black;
    color: white;

}
#clock{
    position: absolute;
    top: 40%;
    margin-left: 35%;
    padding: 20px;
    background: linear-gradient(300deg,  #fa37c9 , #3bc7ff ,#ff0020);
    animation:animate 1.5s linear infinite;
    border: 3px solid rgb(255, 255, 255);
    font-size: 5rem;
    font-family: 'Anton', sans-serif;
}