*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* color: white; */

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    color: white;

}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: blue;
    margin-bottom: 1rem;
}

#new-task-form{
    display: flex;
}
input,button{
    appearance: none;
    border: none;
    outline: none;
    background:none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: darkblue;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.25rem;
}
#new-task-submit{
    color: pink;
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover{
    opacity: 0.8;
}
#nwe-task-submit:active{
    opacity: 0.6;

}
main{
    flex-direction: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}
.task-list{
    padding: 1rem;

}
.task-list h2{
    padding: 1.5rem;
    font-weight: 300;
    color: gray;
    margin-bottom: 1rem;

}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

}

.task .actions button{
    cursor: pointer;
    margin: pointer;
    margin: 0 0.5rem;
    font-size: 1.12rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
#tasks .task .content .text{
    color: white;
    /* background-color:rgb(37, 37, 37) ; */
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.5s;
}
#tasks .task .content .text:not(:read-only){
    color: pink;
    
}
#tasks .task .actions{
    display: flex;
    margin: -0.5rem;

}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;

}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;

}

.task .actions .edit{
    background-image: linear-gradient(to right, pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete{
    color: crimson;

}

.text .edit .delete{
    background-color: ;

}